body {
  margin: 0 2rem !important;
}

/* body:after {
  content: "";
  background-image: url('https://images.unsplash.com/photo-1530811761207-8d9d22f0a141?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80') !important;
  background-size: cover !important;
  background-position-y: 50% !important;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
} */

/* Landing Page */

#header-container {
  position: relative;
  height: 600px !important;
}

#arrow-pic {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.9;
  box-shadow: 0 4px 10px 0;
}

#landing-header{
  font-size: 40px;
  width: auto !important;
  position: absolute;
  top: 15%;
  left: 20%;
  color: rgb(241, 206, 90);
}

#landing-subheader{
  color: rgb(241, 206, 90);
}

#landing-container{
  margin: 12rem;
}

.landing-link{
  margin: 7rem;
}

/* ViewMessage */

* {
  font-family: 'Avenir';
}
.bubbleWrapper {
	padding: 10px 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-self: flex-end;
  color: #fff;
}
.inlineContainer {
  display: inline-flex;
}
.inlineContainer.own {
  flex-direction: row-reverse;
}
.inlineIcon {
  width:20px;
  object-fit: contain;
}

.otherBubble {
	min-width: 60px;
	max-width: 700px;
	padding: 14px 18px;
  margin: 6px 8px;
	background-color: #6C8EA4;
	border-radius: 16px 16px 16px 0;
	border: 1px solid #54788e;
  
}

.other {
	align-self: flex-start;
}
span.own,
span.other{
  font-size: 14px;
  color: grey;
}

/* WriteMessage */

#text-area{
  height: 70px !important;
  width: 350px;
  border-radius: 2%;
}

#lines-pic {
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 0.9;
  box-shadow: 0 4px 10px 0;
  border-radius: 5px;
}

#input{
  width: 500px !important; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.479);
  padding: 2rem;
  border-radius: 5px;
}

#write-container {
  position: relative;
  height: 600px !important;
  width: 60%;
  margin-top: 15rem;
}